$footerColor = #fff;
.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;
    border-top: 1px double #afcde6;
    border-bottom: 1px solid #e5e5e5;
    background-color: #000;
    color: $footerColor;
}

.nav {
    margin-left: auto;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 17px;

    &:nth-last-child(1){
        margin-right: 0px;
    }
}