.open-post {
    padding: 21px 21px 40px 21px;
    border-radius: 3px;
    background-color: #fff;
    text-align: left;

    & .title {
        margin-bottom: 21px;
    }
}

.open-post-img {
    max-width: 100%;
    height: auto;
}

.open-post-text {
    padding-top: 11px;
    padding-bottom: 11px;
    color: #514f4f;
    font-size: 19px;
    line-height: 30px;
}