.star-rating {
    & > .icon-star,
    & > .icon-star-stroke {
        width: 14px;
        height: 14px;
        display: inline-block;
    }

    & > .icon-star {
        fill: #f0d355;
    }
    & > .icon-star-stroke {
        fill: #fff;
        stroke: #cacaca;
        stroke-width: 36px;
    }
}